html,body {
    height:100%;
	width:100%;
	position:relative;
	width: 99.4%;
}
a{
	font-size: 13px;
	font-weight: 600;
	&:active, &:focus,&:hover{
		border-bottom: 8px solid #FB0;
	}
}
.active{
		background: #fff;
}
.brand{
	width: 200px;
	height: 200px;
	background: #fb0;
	margin-left: 40%;
}
.navbar-default{
	background: none;
	border: none;
	background: #FFF;
	width: 100%;
}
.bg{
	background-image: url("/arquivos/01.jpg");
	width: 100%;
	height: 300px;
}
.no-pad{
	padding: 0;
}
.principal{
	margin-top:-20px;
}
.text-center{
	margin-left: 25%;
}


/* Carousel Styles */
.carousel-indicators{
	li{
		background: #5E5E5E;
		border: none;
	}
}
	.carousel-indicators .active{
		background: #aaa;
	
	}

.carousel-inner img {
    width: 100%;
    max-height: 460px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	margin-left: 50px;
}

.carousel-control.right span {
	margin-right: 50px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

/*.carousel-control.left span,
.carousel-control.right span {
	background-color: #000;
	
}*/

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    right: 30%;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    color: #FB0;;
	padding: 10px;
}

.header-text h3 span {
	font-size: 20px;
	color: #fff;
	padding: 15px;
}
.section2{
	width: 100%;
	height: 150px;
	p{
		font-size: 15px;
		border: 1px solid;
		padding: 0;
		margin-left: 30%;
		margin-right: 40%;
		text-align: center;
		margin-top: 5%;
	}
	h1{
		font-size: 25px;
		margin-left: 20%;
		margin-top: 20px;
	}
}
.btn-default {
	padding:10px 30px 10px 30px;
    color: #333;
    background-color: #fb0;
    border-color: #fb0;
    border-radius:0;
    box-shadow: 1px 1px #A3A3A3, 2px 2px #A3A3A3;
    margin-top: -20%;
    margin-left: 140%;
    font-weight: 600;
    &:hover{
    background-color: #FE2;
    border-color: #FE2;
    box-shadow: 1px 1px  #A3A3A3, 2px 2px  #A3A3A3, 3px 3px #A3A3A3, 4px 4px #A3A3A3, 5px 5px #A3A3A3;
    	
    }
}
.section3{
	img{
		width: 101%;
		height: 300px;
	}
	h1{
		color: #FFF;
		position: absolute;
		margin-left: 20%;
		margin-top: 2%;
		font-size: 25px;
		font-weight: 700;
		padding: 5px;
		border-bottom: 10px solid #fb0;
	}
	h2{
		color: #FFF;
		position: absolute;
		margin-left: 20%;
		margin-top: 8%;
		font-size: 20px;
		font-weight: 500;
		padding: 5px;
	}
	h3{
		color: #FFF;
		position: absolute;
		margin-left: 20%;
		margin-top: 10%;
		font-size: 20px;
		font-weight: 500;
		padding: 5px;
		padding-right: 20%
	}
		span{
			color: #fb0;
			font-weight: bold;
		}
}
.section4{
	h1{
		text-align: center;
		margin-top: 20px;
		font-size: 25px;
		border-bottom: 8px solid #fb0;
		margin-right: 40%;
		margin-left: 40%
	}
	h2{
		text-align: center;
		margin-top: 100px;
		font-size: 20px;
		margin-right: 30%;
		margin-left: 30%
	}
	p{
		text-align: center;
		font-size: 15px;
		margin-right: 10%;
		margin-left: 10%;
		font-weight: 300;
	}
	.info{
		color: #aaa;
		margin-top: 50px;
		font-size: 20px;
		font-weight: 300;
	}
	.txt{
		font-size: 12px;
		font-weight: 300;
		margin: 0;
		margin-right: 70px
	}
}
.alignleft{
	text-align: left !important;
}
.alignright{
	text-align: right !important;
}
.block4{
	margin-left: 100px;
}
.block5{
	margin-left: 120px;
}
.block6{
	margin-left: 160px;
}

.teste{
	background: #fb0;
    height: 300px;
    margin-top: 65px;
}
.leftside{
	margin-left: 60px;
}
.rightside{
	margin-left: 70px;
    margin-right: -50px;
}
.toright{
	margin-left: 100px;
	margin-right: -90px;
}
.section5{
	margin-top: 100px;
	h1{
		text-align: center;
		font-size: 25px;
		border-bottom: 8px solid #fb0;
		margin-right: 58%;
		margin-left: 30%;
		margin-bottom: 50px;
	}
}
.blockport{
	margin-left: 100px;
}

.card {
  position: relative;
  transition: all .3s ease-out;
  transition-delay: 0.2s;
  transform-style: preserve-3d;
  	&:hover{
	  transform: rotateY(180deg);
  }
}

.front,
.back {
  	font-size: 20px;	
  	position: absolute;
  	backface-visibility: hidden;
  	text-align: center;
  	color: white;
  	font-weight: bold;
}

.front {
	margin-left: 20%;
	margin-top: 45%;
  	z-index: 2;
}
.card1{
  	width: 300px;
  	height: 300px;
	margin-left: -20px;
	background-image:url('/arquivos/img-2.jpg');
    background-size:contain;
    background-repeat: no-repeat;
	
	.back{
		width: 300px;
		height: 300px;
		background: #26696D;
		p{
			margin-top: 20px;
		}
	}
}
.card2{
	width: 300px;
  	height: 300px;
	margin-left: -30px;
	background-image:url('/arquivos/img-6.jpg');
    background-size:cover;
	.back{
		width: 300px;
		height: 300px;
		background: #494949;
		p{
			margin-top: 20px;
		}
	}
}
.card3{
	width: 300px;
  	height: 300px;
	margin-left: -40px;
	background-image:url('/arquivos/img-2.jpg');
    background-size:cover;
	.back{
		width: 300px;
		height: 300px;
		background: #363E48;
		p{
			margin-top: 20px;
		}
	}
}
.card4{
	width: 300px;
  	height: 300px;
	margin-left: -50px;
	background-image:url('/arquivos/img-6.jpg');
    background-size:cover;
	.back{
		width: 300px;
		height: 300px;
		background: #193256;
		p{
			margin-top: 20px;
		}
	}
}
.card5{
  	width: 300px;
  	height: 300px;
	margin-left: -20px;
	margin-top: -100px;
	background-image:url('/arquivos/img-6.jpg');
    background-size:cover;
    background-repeat: no-repeat;
	
	.back{
		width: 300px;
		height: 300px;
		background: #26696D;
		p{
			margin-top: 20px;
		}
	}
}
.card6{
  	width: 300px;
  	height: 200px;
	margin-left: -30px;
	margin-top: 0px;
	background-image:url('/arquivos/img-2.jpg');
    background-size:contain;
    background-repeat: no-repeat;
	
	.back{
		width: 300px;
		height: 200px;
		background: #26696D;
		p{
			margin-top: 20px;
		}
	}
}
.card7{
  	width: 300px;
  	height: 300px;
	margin-left: -20px;
	margin-top: -100px;
	background-image:url('/arquivos/img-6.jpg');
    background-size:cover;
    background-repeat: no-repeat;
	
	.back{
		width: 300px;
		height: 300px;
		background: #26696D;
		p{
			margin-top: 20px;
		}
	}
}
.card8{
  	width: 300px;
  	height: 300px;
	margin-left: -20px;
	margin-top: -100px;
	background-image:url('/arquivos/img-6.jpg');
    background-size:cover;
    background-repeat: no-repeat;
	
	.back{
		width: 300px;
		height: 300px;
		background: #26696D;
		p{
			margin-top: 20px;
		}
	}
}
.back {
  z-index: 1;
  transform: rotateY(180deg);
}

